{
  "apiKey": "YOUR-API-KEY",
  "authDomain": "YOUR-AUTH-DOMAIN",
  "databaseURL": "YOUR-DB-URL",
  "projectId": "YOUR-PROJECT-ID",
  "storageBucket": "YOUR-STORAGE-ID",
  "messagingSenderId": "YOUR-MESSAGING-ID"
}
